version: '3.8'

services:
  api_gateway:
    build:
      context: ./api_gateway
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}_gateway
    ports:
      - "${API_GATEWAY_PORT}:8000"
    env_file:
      - ./api_gateway/.env
    environment:
      - FILE_SERVICE_URL=${FILE_SERVICE_URL}
      - ORCHESTRATOR_URL=${ORCHESTRATOR_URL}
    volumes:
      - ./api_gateway/app:/app/app
    restart: unless-stopped
    networks:
      - home_ai_network

networks:
  home_ai_network:
    name: ${NETWORK_NAME}
    driver: bridge
